 h3{
    color:crimson;
    background-color: darkgray;
 }
 #thirdpara{
    color:aquamarine;
    background-color: black;
 }
 .para{ color: beige;
background-color:gold ;}
h1{
   color: crimson;
   text-decoration: underline dotted 5px blue;
   text-shadow: 3px 4px 5px rgb(rgb(15, 16, 15);
   text-transform: capitalize}
   border-style=""